.form_submission, .form_signin, .form_search {
	border: 1px solid green;
	background-color: #fcedc5;
	border-radius: 8px;
	width: auto;
	height: auto;
	
	margin: 3% 15% 5% 15%;
	padding: 25px 25px 25px 25px;
	display: block;
	color: black;
}


.form_signin {
	margin: 3% 15% 5% 15%;
	padding: 25px 25px 15px 25px;
}



.form_button {
	width: auto;
	border-radius: 5px;
	margin: 15px 0px 5px 0px;
}

/* specific placement to align */
.form_button_text {
	margin-left: 5px;
	margin-top: 5px;
}

/* for smaller screens than 1024, changes margins to give more space */
@media only screen and (max-width: 1024px) {
	.form_submission, .form_signin, .form_search {
		margin: 3% 0% 5% 0%;
		padding: 20px 2px 10px 2px;
	}

	/* centering the button */
	.form_button {
		width: 40%;
		margin: 40px 30% 15px;
		justify-content: center;
	}
}

/* applies a background of green and a color of white to an element */
.bg-green {
	background-color: green;
	color: white;
}

/* used for labels for an input box */
.text_bar, .text_bar_long {
	width: 20%;
	padding: 0.5em;
	text-align: center;
	margin: 0px;
	height: auto;
}

/* longer variant for specific types */
.text_bar_long {
	width: 40%;
}

.input_box {
	margin: 0px;
	width: 80%;
	padding: 0px 15px;
	height: auto;
}

/* some quick classes for assigning objects some rounded borders */
.left-rounded {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.right-rounded {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}


/* when smaller than 768px, we start making all in-line elements become blocks instead (i.e. vertical instead of horizontal)
	here we are changing the appearance of the labels and inputs */
@media only screen and (max-width: 767px) {
	.text_bar, .text_bar_long, .input_box {
		width: 100%;
		padding: 0 0.5em;
		text-align: center;
		margin: 0px;
		height: auto;
	}
	
	/* specifying width - something funky happens here */
	.input_box {
		width: 91%;
		width: -webkit-fill-available;
		width: -moz-available;
		
		height: 2em;
	}


	/* text bar and input bar is now shown vertically - changing this rounded borders to better fit it */
	/* usually for labels on the left; labels now on top */
	.left-rounded {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 0px;
	}

	.right-rounded {
		border-bottom-left-radius: 5px;
	}
}
	

textarea.input_box {
	padding: 15px 15px;
}

.height_100 {
	height: 100px;
}

.height_200 {
	height: 200px;
}

/* done to change the upload input button appearance */
input[type="file"] {
	display: none;
}

/* new apprearance for upload button */
.file_upload {
	border-radius: 5px;

	width: 10em;
	height: 1.8em;

	margin: 15px 0px 0px 0px;
	padding: 0px 5px;

	border:1px solid darkgreen;
	color: white;
	text-align: center;
	align-items: center;
	font-size: 0.9em;
	background: green; 
	line-height: 1.7em;
}

.file_upload:hover {
	cursor:pointer;
	background: rgb(83, 141, 83);
}

/* container specifically for file upload divs */
.container-row-file {
	display:flex;
	align-items:baseline;
	justify-content:center;
	margin-bottom: 5px;
}

/* when smaller than 768px, we start making all in-line elements become blocks instead (i.e. vertical instead of horizontal) */
@media only screen and (max-width: 767px) {
	.container-row-file {
		display:block;
		margin-top: 15px;
	}
	
}

/* container to hold a section title + radios inside a div */
.container-radio {
	display:flex;
	align-items:stretch;
	justify-content:left;
	margin-bottom: 5px;
	width: 50%;
}

/* holding all radio options */
.container-radio-section {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
}

/* radio option and label describing it */
.container-radio-row {
	display: flex;
	margin-top: 2px;
}


input.radio-button {
	height: auto;
	margin-top: 5px;
	margin-right: 10px;
}

label.radio-label {

}

/* div for checkbox + description */
.container-checkbox-row {
	display:flex;
	align-items:stretch;
	justify-content:left;
	margin-bottom: 5px;
	padding-top: 10px;
}

input.checkbox-button {
	margin-right: 20px;
}

label.checkbox-label {
	margin-top:10px;
}
/* have custom button design for uploading *?
input[type="file"] {
	display: none;
}
