/* global style css is used for ensuring a similar style across all html files. Items such as 
the header, the footer, buttons, font format, and more are determined here. We also define some
'container' classes inspired from bootstrap to be able to easily place items inline */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0px 0px;
	background-color:rgb(18, 36, 26); /* rgb(13, 48, 38);*/
	color: white;

	display: flex;
	flex-direction: column;
	min-height: 100vh; /* this makes the body stretch entire viewport, so footer rests at bottom */
}

textarea {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	border: 0px;
}
h3 {
	margin-bottom: 0px;
}

p {
	margin: 4px 0px;
}


/* defining header for all pages */
header {
	background-color: #fcedc5;
    /*content is spaced based on the space between each element*/
	display: flex;
	padding: 0% 3%;
	align-items: center;
	height: auto;
    justify-content: space-between;
	color: rgb(20, 22, 22);
}

/* the div for containing the website name */
.header_title {
	padding: 0px 25px;
}

.header1Session_text {

	margin-top: 8px;
	margin-bottom: 2px;
}

.header3Session_text {
	margin-top: 2px;
	margin-bottom: 8px;
}

/* div to hold buttons together */
.nav_menu {
	padding: 5px;
	margin: 0px 0px;
	text-align: center;
	height: auto;
}

/* input tags */
input {
	margin: 0px;
	padding: 0px 15px;
	height: 40px;
	border: 0px;
}

/* an old removed feature, where a search bar was kept inside of header 
later removed when a search.html was needed on its own page */
input.nav_search_bar {
	float: left;
	margin: 0px;
	padding: 0px 15px;
	height: 40px;
}

/* defining a button style, such that all buttons have a green background with white text */
.nav_button, .form_button {
	color: white;
	background: green;
	float: left;
	margin: 0px;
	padding: 0px 15px;
	height: 40px;
	border: 0px;	
	cursor: pointer;
	display: flex;
	align-items: center;
}

.nav_button_text {
	margin-left: 5px;
	cursor: pointer;
}

/* changing color on hover for feedback */
.nav_button:hover, .form_button:hover {
	background: rgb(83, 141, 83);
}

button {
	cursor: pointer;
}

/* when screen is small, start hiding the words and show only symbols on the header bar */
@media only screen and (max-width: 1024px) {
	header {
		padding: 0% 0%;
	}

	.nav_menu {
		padding: 1px 0px 0px 4px;
	}
	/* hide text from header */
	.nav_button_text {
		display: none;
	}

}

/* more specific changes to the nav button to make them look better on smaller resolution */
@media only screen and (max-width: 606px) {
	/* align the buttons to the right to look more appealing */
	.nav_button {
		float: right;
	}
}


footer {
	background-color: #fcedc5;
    /*content is spaced based on the space between each element*/
	display: flex;
	padding: 0% 10%;
	padding-bottom: 20px;
	color: rgb(20, 22, 22);

	/* used to move footer to very bottom of page each time */
	margin-top: auto;
}


/* the main body is where all the content should be displayed
change this in another style sheet if we need a sidebar to the right for a specific html*/
.main_body {
	margin: 0% 6% 0% 6%; 
}

@media only screen and (max-width: 1024px) {
	.main_body {
		margin: 0% 3% 0% 3%; 
	}
}

/* for smaller screens than 512, remove margins */
@media only screen and (max-width: 768px) {
	.main_body {
		margin: 0% 1%; 
	}
}

.title {
	width: auto;
	text-align: left;
	border-bottom: 1px solid green;
}

/* subsections inside of main body */
.main_section {
	border-top: 1px solid green;
	margin: 10px 0px;
}

/* container-row styles are quick ways of algining divs within them horizontally */
.container-row, .container-row-50 {
	display:flex;
	align-items:stretch;
	justify-content:space-around;
	margin-bottom: 5px;
}

/* 2 'row-50' makes up one container (taken from bootstrap ideology) */
.container-row-50 {
	width: 50%;
	margin: 0px 2px;
}


/* when smaller than 768px, we start making all in-line elements become blocks instead (i.e. vertical instead of horizontal) */
@media only screen and (max-width: 767px) {
/* container-row styles are quick ways of algining divs within them horizontally */
	.container-row, .container-row-50 {
		display:block;
		margin-bottom: 15px;
	}

	/* 2 'row-50' makes up one container (taken from bootstrap ideology) */
	.container-row-50 {
		width: auto;
		margin: 0px 0px 5px 0px;
	}
}
