body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0px 0px;
	background-color:rgb(18, 36, 26); /* rgb(13, 48, 38);*/
	color: white;

	display: flex;
	flex-direction: column;
	min-height: 100vh; /* this makes the body stretch entire viewport, so footer rests at bottom */
}

textarea {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	border: 0px;
}
h3 {
	margin-bottom: 0px;
}

p {
	margin: 4px 0px;
}

header {

	background-color: #fcedc5;
    /*content is spaced based on the space between each element*/
	display: flex;
	padding: 0% 3%;
	align-items: center;
	height: auto;
    justify-content: space-between;
	color: rgb(20, 22, 22);
}

.header_title {
	padding: 0px 25px;
}


/* div to hold buttons together */
.nav_menu {
	padding: 5px;
	margin: 0px 0px;
	text-align: center;
	height: auto;
}

input {
	margin: 0px;
	padding: 0px 15px;
	height: 40px;
	border: 0px;
}

input.nav_search_bar {
	float: left;
	margin: 0px;
	padding: 0px 15px;
	height: 40px;
}

.nav_button, .form_button {
	color: white;
	background: green;
	float: left;
	margin: 0px;
	padding: 0px 15px;
	height: 40px;
	border: 0px;	
	cursor: pointer;
	display: flex;
	align-items: center;
}

.nav_button_text {
	margin-left: 5px;
	cursor: pointer;
}


/* when screen is small, start hiding the words and show only symbols on the header bar */
@media only screen and (max-width: 1024px) {
	header {
		padding: 0% 0%;
	}

	.nav_menu {
		padding: 0px;
	}
	/* hide text from header */
	.nav_button_text {
		display: none;
	}

	/* align the buttons to the right to look more appealing */
	.nav_button {
		float: right;
	}
}

.form_button_text {
	margin-left: 5px;
	margin-top: 5px;
}

.nav_button:hover, .form_button:hover {
	background: rgb(83, 141, 83);
}

button {
	cursor: pointer;
}

footer {

	background-color: #fcedc5;
    /*content is spaced based on the space between each element*/
	display: flex;
	padding: 0% 10%;
	padding-bottom: 20px;
	color: rgb(20, 22, 22);

	margin-top: auto;
}


/* change this in another style sheet if we need a sidebar to the right */
.main_body {
	margin: 0% 6% 0% 6%; 
}


@media only screen and (max-width: 1024px) {
	.main_body {
		margin: 0% 3% 0% 3%; 
	}
}


/* for smaller screens than 512, remove margins */
@media only screen and (max-width: 768px) {
	.main_body {
		margin: 0% 1%; 
	}
}

.main_section {
	border-top: 1px solid green;
	margin: 10px 0px;
}

.title {
	width: auto;
	text-align: left;
	border-bottom: 1px solid green;
}

/* container-row styles are quick ways of algining divs within them horizontally */
.container-row, .container-row-50 {
	display:flex;
	align-items:stretch;
	justify-content:space-around;
	margin-bottom: 5px;
}

/* 2 'row-50' makes up one container (taken from bootstrap ideology) */
.container-row-50 {
	width: 50%;
	margin: 0px 2px;
}


/* when smaller than 768px, we start making all in-line elements become blocks instead (i.e. vertical instead of horizontal) */
@media only screen and (max-width: 767px) {
/* container-row styles are quick ways of algining divs within them horizontally */
	.container-row, .container-row-50 {
		display:block;
		margin-bottom: 15px;
	}

	/* 2 'row-50' makes up one container (taken from bootstrap ideology) */
	.container-row-50 {
		width: auto;
		margin: 0px 0px 5px 0px;
	}
}
