/* change this if we need a sidebar to the right later */
.main_body {
	margin: 0% 6%; 
}

/* the first section of the object; holds a picture + reviews of the selected location */
.objSplash {
	margin: 3% 15% 5% 15%;
	width: auto;
}

/* holds 5 stars inline */
.ratings_bar {
	display: flex;
	align-items: center;
}

/* star image */
.ratings_star {
	margin-top: 4px;
	margin-left: 10px;
	padding: 0px;
}


/* special formats for h# when used with ratings */
h3.rating {
	margin: 2px 0px 5px 0px;
}

h4.rating  {
	margin: 2px 0px 3px 0px;
}

/* div - an image container to take up all of available slot */
.img_container, .img_container_auto {	
	display: flex;
	justify-content: left;
	margin-bottom: 15px;
	width: 100%;
}

.img_object {
	width: inherit;
	/* height: auto; */
	height: 500px;
}


.review-section {
	border: 1px solid green;
	border-radius: 5px;
	padding: 5px 25px;
	margin-bottom: 15px;
}

/* div for address and map */
div.obj_add_map {
	width: 39%;
}

/* div for the video element; it is placed next to a container-row-50, so max is 40% width */
div.obj_vid_container {
	width: 60%;
}

/* video class inside container; take up full space if possible  */
video.obj_video {
	margin: auto 0%;
	height: 100%;
	width: 100%;
}


/* when screen starts displaying elements vertically instead of horizontally, make the video expand */
@media only screen and (max-width: 767px) {
	.objSplash {
		margin: 3% 2% 5%;
		width: auto;
	}
	
	div.obj_add_map {
		width: 100%;
	}
	div.obj_vid_container {
		width: 100%;
	}
	
	/* separate name and star images */
	.ratings_bar {
		display: block;
	}

	/* but keep stars inline */
	.ratings_star {
		display: flex;
		margin-left: 0px;
	}
	.img_object {
		height: 300px;
	}

}