/* change this if we need a sidebar to the right later */
.main_body {
	margin: 0% 6%; 
}


.objSplash {
	margin: 3% 15% 5% 15%;
	width: auto;
}

.ratings_bar {
	display: flex;
	align-items: center;
}


h3.rating {
	margin: 2px 0px 5px 0px;
}

h4.rating  {
	margin: 2px 0px 3px 0px;
}

.ratings_star {
	margin-top: 4px;
	margin-left: 10px;
	padding: 0px;
}


/* image container to take up all of available slot */
.img_container, .img_container_auto {	
	display: flex;
	justify-content: left;
	margin-bottom: 15px;
	width: 100%;
}

/* special resizing for smaller google maps version */
.img_container_60 {
	width: 100%;
}

.img_object {
	width: inherit;
	height: auto;
}

.review-section {
	border: 1px solid green;
	border-radius: 5px;
	padding: 5px 25px;
	margin-bottom: 15px;
}

/* div for address and map */
div.obj_add_map {
	width: 39%;
}

/* div for the video element; it is placed next to a container-row-50, so max is 40% width */
div.obj_vid_container {
	float:right;
	width: 60%;
}

/* video class inside container; take up full space if possible  */
video.obj_video {
	margin: auto 0%;
	height: 100%;
	width: 100%;
}