
/*  the first section showing a google map of results*/
.objSplash {
	margin: 3% 5% 5% 5%;
	width: auto;
}

/* container for the map image */
.img_map_container {	
	display: flex;
	justify-content: left;
	margin-bottom: 15px;
	width: 100%;
}

/* Making img automatically take width and height of containing */
.img_object {
	/* width: inherit;
	height: auto; */
	width: inherit;
	height: 600px;
}

/* border around the entire table */
.results_table {
	margin: 15px auto 15px;
	border: 2px solid white;
}

/* another border around the header row */
thead {
	border: 1px solid white;
}

/* aligning contents in table to left, not vertically centered, and some padding */
td {
	text-align:left;
	align-items:unset;
	vertical-align:unset;
	padding: 15px;
}

/* reduce padding on lower width */
@media only screen and (max-width: 767px) { 
	td {
		padding: 0;
	}
}

/* hide underlining and colouring of links inside table */
td a{
	color: inherit;
	text-decoration: none;
}

/* alternating colors of rows */
tr:nth-child(odd) {
	background-color: rgb(4, 73, 4);
}
tr:nth-child(even) {
	background-color: rgb(8, 99, 8)
}